:root {
    // Base color variables
    --color-white: rgb(255, 255, 255);
    --color-black: rgb(0, 0, 0);
    --color-grey-300: rgb(172, 193, 222);
    --color-grey-500: rgb(94, 110, 133);
    --color-blue-100: rgb(225, 231, 254);
    --color-blue-300: rgb(179, 211, 241);
    --color-blue-500: rgb(52, 95, 246);
    --color-blue-900: rgb(37, 51, 71);
    --color-gradient: linear-gradient(
        to right,
        var(--color-white),
        rgb(214, 252, 254),
        rgb(214, 230, 254)
    );
    --color-box-shadow: rgba(143, 174, 207, 0.25);

    // Re-usuable variables
    --primary-bg-color: var(--color-white);
    --secondary-bg-color: var(--color-gradient);
    --tertiary-bg-color: var(--color-blue-500);
    --selection-bg-color: var(--color-blue-100);
    --primary-border-color: var(--color-grey-500);
    --primary-font-color: var(--color-blue-900);
    --secondary-font-color: var(--color-grey-500);
    --tertiary-font-color: var(--color-blue-500);
    --primary-box-shadow: 1rem 2rem 3.5rem 0 var(--color-box-shadow);
    --secondary-box-shadow: 1rem 1rem 3.5rem 0 var(--color-box-shadow);
}
