@use "functions" as f;

$font-size-xxs: 14;
$font-size-xs: 16;
$font-size-sm: 20;
$font-size-md: 24;
$font-size-lg: 32;
$font-size-xl: 48;
$font-size-xxl: 64;
$font-weight-semi-bold: 700;
$font-weight-bold: 800;
$line-height-sm: 110%;
$line-height-md: 120%;
$line-height-lg: 150%;
$letter-spacing-small: f.rem(-0.05);
$letter-spacing-none: 0;

@mixin text-preset-1 {
    font-size: f.responsive($font-size-xl, $font-size-xxl);
    font-weight: $font-weight-semi-bold;
    line-height: $line-height-sm;
    letter-spacing: $letter-spacing-small;
}

@mixin text-preset-2 {
    font-size: f.rem($font-size-xl);
    font-weight: $font-weight-semi-bold;
    line-height: $line-height-sm;
    letter-spacing: $letter-spacing-small;
}

@mixin text-preset-3 {
    font-size: f.rem($font-size-lg);
    font-weight: $font-weight-semi-bold;
    line-height: $line-height-sm;
    letter-spacing: $letter-spacing-small;
}

@mixin text-preset-4 {
    font-size: f.rem($font-size-md);
    font-weight: $font-weight-semi-bold;
    line-height: $line-height-md;
    letter-spacing: $letter-spacing-small;
}

@mixin text-preset-5 {
    font-size: f.rem($font-size-sm);
    font-weight: $font-weight-semi-bold;
    line-height: $line-height-md;
    letter-spacing: $letter-spacing-small;
}

@mixin text-preset-6 {
    font-size: f.rem($font-size-xs);
    line-height: $line-height-lg;
    letter-spacing: $letter-spacing-none;
}

@mixin text-preset-6-semi-bold {
    font-weight: $font-weight-semi-bold;
    @include text-preset-6;
}

@mixin text-preset-7 {
    font-size: f.rem($font-size-xxs);
    line-height: $line-height-lg;
    letter-spacing: $letter-spacing-none;
}

@mixin text-preset-7-bold {
    font-weight: $font-weight-bold;
    @include text-preset-7;
}
