@use "../utils" as u;

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100dvh;
    width: 100%;
    min-width: u.rem(375);
    font-family: "Inter", sans-serif;
    background-color: var(--primary-bg-color);
    position: relative;
}

body::after {
    content: "";
    background: var(--secondary-bg-color);
    width: 100%;
    height: u.rem(600);
    position: absolute;
    border: none;
    border-radius: 0 0 u.rem(35) 0;
    inset: 0;
    z-index: -1;
}

.bmi {
    padding-block: u.rem(32);
}

.bmi__form {
    min-width: u.rem(328);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: u.rem(40);
    padding-inline: u.rem(24);
    margin-block-end: u.rem(64);

    @include u.breakpoint(small) {
        padding-inline: u.rem(42);
    }
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__logo {
        width: u.responsive(40, 64);
        height: u.responsive(40, 64);
        margin-block-end: u.rem(40);
    }

    &__heading {
        color: var(--primary-font-color);
        text-align: center;

        margin-block-end: u.rem(24);

        @include u.text-preset-1;
    }

    &__description {
        color: var(--secondary-font-color);
        text-align: center;

        @include u.text-preset-6;
    }
}

.results {
    margin-block-end: u.rem(86);

    &__decor {
        display: none;
    }

    &__meaning {
        display: flex;
        flex-direction: column;
        margin-block-end: u.rem(64);

        &--img {
            width: 100%;
            margin-block-end: u.rem(48);
        }

        &--heading {
            display: flex;
            flex-direction: column;
            padding-inline: u.rem(24);

            &-title {
                color: var(--primary-font-color);
                margin-block-end: u.rem(32);

                @include u.text-preset-3;
            }

            &-details {
                color: var(--secondary-font-color);

                @include u.text-preset-6;
            }
        }

        @include u.breakpoint(small) {
            flex-direction: row;
            align-items: center;
            gap: u.rem(72);

            &--img {
                width: u.rem(435);
                margin-block: 0;
                margin-inline-start: u.rem(-70);
            }

            &--heading {
                padding-inline-start: u.rem(0);
                padding-inline: u.rem(42);
            }
        }
    }

    &__advice {
        display: flex;
        flex-direction: column;
        gap: u.rem(40);
        padding-inline: u.rem(24);

        @include u.breakpoint(small) {
            padding: u.rem(40);
        }
    }
}

.limitations {
    display: flex;
    flex-direction: column;
    gap: u.rem(56);
    padding-inline: u.rem(24);

    &__header {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: u.rem(32);

        &--title {
            color: var(--primary-font-color);

            @include u.text-preset-3;
        }

        &--description {
            color: var(--secondary-font-color);

            @include u.text-preset-6;
        }

        @include u.breakpoint(small) {
        }
    }

    &__details {
        display: flex;
        flex-direction: column;
        gap: u.rem(16);

        @include u.breakpoint(small) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    @include u.breakpoint(small) {
        padding-inline: u.rem(42);
    }
}
